* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f7fa;
  padding: 40px 20px;
}
.first {
  width: 1440px;
  height: 68px;
  display: flex;
  justify-content: space-between;
  opacity: 1;
  padding-right: 100px;
  padding-left: 100px;
}

.first #aa image {
  width: 36px;
  height: 36px;
}
.first #aa span {
  width: 170px;
  height: 28.56px;
  top: 3px;
  left: 48.92px;
  opacity: 1;
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.first p {
  width: 170.61px;
  height: 28.56px;
  top: 3px;
  left: 48.92px;
  color: #000000;
}
.first button {
  width: 231;
  height: 68;
  gap: 10px;
  opacity: 1;
  padding-top: 20px;
  padding-right: 35px;
  padding-bottom: 20px;
  padding-left: 35px;
  border-radius: 14px;
  border-width: 1px;
  background-color: white;
}
#aa {
  width: 219.53680419921875;
  height: 56;
  gap: 10px;
  opacity: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}
#aa span {
  width: 170.61px;
  height: 28.5px;
  top: 3px;
  left: 48.92px;
  opacity: 1;
}
#aa img {
  width: 36;
  height: 36;
  opacity: 1;
}
#bb {
  width: 811;
  height: 68;
  gap: 40px;
  opacity: 1;
}
.first p {
  font-family: Space Grotesk;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  width: 82;
  height: 28;
  opacity: 1;
  color: #000000;
}
.left {
  width: 531;
  height: 481;
  gap: 35px;
  padding-right: 100px;
  padding-left: 100px;
  opacity: 1;
}
.left h1 {
  width: 531;
  height: 231;
  opacity: 1;
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 35px;
}
.left p {
  width: 498;
  height: 112;
  opacity: 1;
  font-family: Space Grotesk;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  margin-bottom: 35px;
}
.left button {
  width: 264;
  height: 68;
  gap: 10px;
  opacity: 1;
  padding-top: 20px;
  padding-right: 35px;
  padding-bottom: 20px;
  padding-left: 35px;
  border-radius: 14px;
  color: white;
  background-color: #191a23;
}
.right {
  width: 600.4620971679688;
  height: 515;
  opacity: 1;
  border-width: 1px;
  transform: translate(-200px, 100px);
}
.right img {
  width: 600.4px;
  height: 515px;
  border-width: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.img {
  width: 1440;
  height: 48;
  justify-content: space-between;
  opacity: 1;
  padding-right: 100px;
  padding-left: 100px;
  display: flex;
  vertical-align: middle;
}
.img1 {
  width: 124.11282348632812;
  height: 48;
  opacity: 1;
  mix-blend-mode: Luminosity;
  padding: 5px;
  margin-top: 80px;
  padding-top: 50px;
}
.img2 {
  width: 126.36943054199219;
  height: 48;
  opacity: 1;
  mix-blend-mode: Luminosity;
  margin-top: 80px;
  padding-top: 50px;
}
.img3 {
  width: 128.6260223388672;
  height: 48;
  opacity: 1;
  mix-blend-mode: Luminosity;
  margin-top: 80px;
  padding-top: 50px;
}
.img4 {
  width: 145.55050659179688;
  height: 48;
  opacity: 1;
  mix-blend-mode: Luminosity;
  display: flex;
  gap: 20px;
  margin-top: 80px;
  padding-top: 50px;
}
.img5 {
  width: 125.24112701416016;
  height: 48;
  opacity: 1;
  mix-blend-mode: Luminosity;
  display: flex;
  gap: 20px;
  margin-top: 80px;
  padding-top: 50px;
}
.img6 {
  width: 110.57324981689453;
  height: 48;
  opacity: 1;
  mix-blend-mode: Luminosity;
  display: flow-root;
  margin-top: 80px;
  padding-top: 50px;
}
.img img {
  filter: brightness(0) saturate(100%);
}
.img6 img {
  margin-top: 15px;
  position: relative;
  top: 10px;
}

.yy {
  margin: 0%;
  background-color: #b9ff66;
  width: 178px;
  height: 51px;
  gap: 10px;
  opacity: 1;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 7px;
  text-align: center;
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
}
.pp p {
  font-family: Space Grotesk;
  font-weight: 400px;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}
.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  gap: 40px;
  margin-top: 40px;
}

.card {
  width: 600px;
  height: 310px;
  border: 1px solid #191a23;
  border-radius: 45px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card.light {
  background: #f3f3f3;
}

.card.green {
  background: #b9ff66;
}

.card.dark {
  background: #191a23;
  color: black;
}

.card h3 {
  font-family: Space Grotesk;
  font-size: 30px;
  line-height: 100%;
}

.card h3 span {
  background: #b9ff66;
  padding: 5px 7px;
  border-radius: 7px;
}

.card.dark h3 span {
  background: white;
}

.learn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Space Grotesk;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
}

.card .img {
  width: 400px;
  height: 310px;
  height: auto;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.dowon {
  width: 1240px;
  height: 347px;
  gap: 275px;
  opacity: 1;
  padding-right: 60px;
  padding-left: 60px;
  border-radius: 45px;
  justify-content: space-between;
  background-color: #f3f3f3;
  position: relative;
}
.dowon h3 {
  width: 500px;
  height: 38px;
  opacity: 1;
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}
.dowon button {
  margin-top: 20px;
  padding: 10px 20px;
  width: 288;
  height: 68px;
  gap: 10px;
  opacity: 1;
  padding-top: 20px;
  padding-right: 35px;
  padding-bottom: 20px;
  padding-left: 35px;
  border-radius: 14px;
  background-color: #191a23;
}
.dowon img {
  position: absolute;
  right: 30px;
  bottom: 0px;
  width: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.final1 {
  width: 1440px;
  height: 51px;
  top: 2746px;
  gap: 40px;
  opacity: 1;
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 100px;
}
.final1 h2 {
  width: 265px;
  height: 51px;
  gap: 10px;
  opacity: 1;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 7px;
  background-color: #b9ff66;
}
h2 {
  width: 251px;
  height: 51px;
  opacity: 1;
  font-family: Space Grotesk;
  font-weight: 500;
  font-style: Medium;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
}
.final1 p {
  width: 580px;
  height: 46px;
  opacity: 1;
  font-family: Space Grotesk;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}
